################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserRegistration/obj
/UserRegistration/.vs/UserRegistration/v16/TestStore/0
/UserRegistration/.vs/UserRegistration/v16/.suo
